{% extends 'base.html.twig' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url('dashboard') }}">4BL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url('dashboard') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('finances.dashboard') }}">Finances</a>
                </li>
            </ul>

            <a href="{{ url('accounts.user.sign-out') }}" style="color: black; text-decoration: none;">
                <button class="btn btn-outline-success my-2 my-sm-0">Sign-out</button>
            </a>
        </div>
    </nav>

    {% block main_content %}{% endblock %}
{% endblock %}
