{% extends 'base.html.twig' %}

{% block content %}
    <div class="container border border-info rounded shadow-sm bg-white p-2 w-25 mt-5">
        <form method="POST" action="{{ path('accounts.user.sign-in') }}">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
{% endblock %}
